.main-navigation,
.main-navigation > div {
  display: flex;
  align-items: center;
}

.main-navigation {
  width: 100%;
  height: 100px;
  justify-content: space-between;
}

.nav-legend {
  font-size: 1.75rem;
  font-weight: 500;
  color: rgba(var(--clr-black-100));
}

.search-box {
  position: relative;
}

.search-icon {
  position: absolute;
  left: 2.75rem;
  top: .75rem;
}

.pill-shape-input {
  border: none;
  border-radius: 50px;
  padding: .75rem 2rem;
  margin-inline: 2rem;
  font-size: 1rem;
  outline: 1px solid rgba(var(--clr-black-0));
  width: 50%;
  transition: width 50ms linear;
  box-shadow: 1px 1px 3px 3px rgba(var(--clr-black-0), .15);
}

.pill-shape-input.full-width {
  width: auto;
}

.pill-shape-input:focus {
  outline: 2px solid rgba(var(--clr-black-100));
  box-shadow: none;
}

.pill-shape-input:not(.full-width):focus {
  width: 100%;
}

@media (max-width: 550px) {
  .search-box { display: none; }
}