.App { 
  background-color: #f5f5fa;
}

:root {
  --clr-black-100: 65, 65, 65;
  --clr-black-50: 107, 103, 103;
  --clr-black-0: 155, 155, 155;
  --clr-white: 255, 255, 255;
  --clr-purple-100: 116, 44, 221;
  --clr-purple-0: 244, 236, 255;
  --clr-red: 200, 40, 40;
  --clr-green: 45, 168, 80;
}